{% extends 'about/base.html' %}

{% block content %}
<div class='container-fluid'>
    <h2>About Us</h1>
    <p>
        We are a video game company established in 2004, headquartered in Yogyakarta, Indonesia. We started as a group of gamers who wanted to dive more into the industry by selling illustrations, stickers, and used games. As our business grew, we then began developing a website to sell our products more effectively. Game developers, both established and indie, heard about us, and asked if we could sell their new and old published games in our store, and of course we said yes! After all this, we want to even more support the video game community by becoming the one-stop solution for games, illustrations, books, and toys/figures.
    </p>

    <p>
        Team members:
        <ul>
            <li>Pratyaksa - Founder & CEO</li>
            <li>Pratyaksa - CFO</li>
            <li>Pratyaksa - Frontend Developer</li>
            <li>Pratyaksa - Backend Developer</li>
            <li>Pratyaksa - Cybersecurity</li>
        </ul>
    </p>

</div>
{% endblock %}